/* global variables */

:root {
    --mainColor: rgb(55, 58, 117);
    --hoverColor: rgb(78, 80, 117);
    --roomColor: rgb(34, 34, 51);
    --neutralColor: rgb(170, 170, 170);
    --textFieldColor: rgb(68, 68, 85);
    --loginColor: rgb(153, 247, 153);
    --leftPad: 40px;
    --titleHeight: 80px;
    --roomHeaderHeight: 10%;
    --inputsHeight: 100px;
    --titleFont: "Lucida Sans", sans-serif;
    --mainFont: "Segoe UI", sans-serif;
}

* {
    box-sizing: border-box;
}

/* body and wrapper */

body {
    background-color: var(--roomColor);
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: var(--mainFont);
}

#wrapper {
    /*height: 100%;*/
}

/* title */

#title {
    background-color: var(--mainColor);
    padding: 0px var(--leftPad);
    height: var(--titleHeight);
    font-family: var(--mainFont);
    font-size: 130%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin-left: 25px;
}

#logoutButton {
    display: none;
    color: var(--neutralColor);
    font-size: 30px;
}

#logoutButton:hover {
    color: white;
    cursor: pointer;
}

/* login form */

#loginForm {
   /* background-color: var(--roomColor);*/
    padding: 10px var(--leftPad);
    color: var(--loginColor);
    position: absolute;

}

#loginAlert {
    transition: all 200ms ease-in;
}

.alert {
    transform: translateX(10px);
    color: yellow;
}

/* inputs */

input {
    font-size: inherit;
    font-family: inherit;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    background-color: var(--textFieldColor);
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: var(--mainColor);
}

input[type="submit"]:hover {
    background-color: var(--hoverColor);
    cursor: pointer;
}

/* chat room */

#room {
    padding: 0px var(--leftPad);
    display: none;
}



#chat{
   
    float: right;
    height: calc(100vh - var(--titleHeight));
    display: flex;
    
}

#switch {
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
}

.switch {
    border-right: 3px solid var(--mainColor);
}

.switch-hover {
    border-right: 3px solid var(--hoverColor);
}

#button-chat {
   
    padding-top: 110%;
    padding-bottom:110%;
}


#switch img {
  width: 2em;
  height: auto;
}


/* room header */

#roomHeader {
    color: yellow;
    height: var(--roomHeaderHeight);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



#roomHeader span {
    white-space: nowrap;
    padding: 1px 4px;
}




/* messages */

#messages {
    height: calc(100% - var(--roomHeaderHeight) - var(--inputsHeight));
    border-bottom: 1px solid var(--mainColor);
    border-top: 1px solid var(--mainColor);
    padding: 20px 0px;
    overflow: auto;
    word-wrap: break-word;  
}

/* inputs */

#inputs {
    display: flex;
    align-items: center;
    height: var(--inputsHeight);
}

#messageInput {
    width: 70%;
    margin-right: 0px;
    margin-left: 10px;
}

/* message */

.message {
    margin: 6px 0px;
}

.message a {
    color: inherit;
}

.timeStamp {
    font-size: 15px;
    color: var(--neutralColor);
    margin-right: 6px;
}



#jeu{
     text-align: center;
     color:#fff;
}
#reponse{
  margin: auto;
  width: 50%;
  padding: 10px;
  height:600px;
  display:grid;
  grid-template-columns: 600px 600px;
  grid-row: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.rep{
   border: solid 0.3em;
   border-color:#333 ;
    background-color:#333;
    padding:20px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:sans-serif;
  
}